@tailwind base;
@tailwind components;
@tailwind utilities;

.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
}
.bebasregular{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
}

.barlow {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

html { scroll-behavior: smooth; }